:root {
    --main-color: rgb(192, 204, 55);
    --secondary-color: #2f2f2f;
    --inner-color: white;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--secondary-color);
}

header {
    background-color: var(--main-color);
    width: 100%;
    padding-left: 40px;
    display: flex;
    align-items: end;
    font-family: Arial;
    gap: 20px;
    box-sizing: border-box;
}

header img {
    height: 100px;
    width: 120px;
}

main {
    color: white;
}